@{
    ViewData["Title"] = "Reports";
}


<h6 style="color:cornflowerblue">1. Sales amounts aggregated by:</h6>
 
<a asp-action="YearAndMonth">a. Year and Month</a>
<br />
<a asp-action="Products">b. Products</a>
<br />
<a asp-action="ProductCategories">c. Product Categories</a>
<br />
<a asp-action="CustomersandYears">d. Customers and Years</a>
<br />
<a asp-action="City">e. City</a>
<br />
<br />
 <a asp-action="Top10CustomersBysales" >2. Top 10 Customers By Sales</a>
<br />
<a asp-action="Top10CustomersBysalesForEachYear">3. Top 10 Customers By Sales For Each Year</a>
<br />
<a asp-action="Top10ProductsBySalesAmount">4. Top 10 Products By Sales Amount</a>
<br />
<a asp-action="Top10ProductsBySalesProfit">5. Top 10 Products By Sales Profit</a>
<br />
<a asp-action="Top10ProductsBySalesAmountForeachYear">6. Top 10 Products By Sales Amount For each Year</a>
    
     